.navbar {
  background-color: #4747B1 !important;
}

#navbar > ul.navbar-nav.me-auto > li.nav-item.dropdown a:hover {
  background-color: #4747B1 !important;
}

.navbar-dark .navbar-nav .active>.nav-link {
  background-color: #4747B1 !important;
  color: #fff;
}

.navbar-dark input[type="search"] {
  background-color: #fff !important;
  color: #444 !important;
}
