.navbar-inverse {
  background-color: #0099f9;
}

.navbar-inverse .dropdown-menu {
  background-color: #efefef;
}

.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li.active > a,
.navbar-inverse .dropdown-menu > li.active > a:hover {
  background-color: #fff;
}

.navbar-inverse .dropdown-menu > li > a,
.navbar-inverse .dropdown-menu > li > a:focus,
.navbar-inverse .dropdown-menu > li.active > a,
.navbar-inverse .dropdown-menu > li.active > a:hover,
.navbar-inverse .dropdown-menu > li.active > a:focus {
  color: #15354a;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li.open > a,
.navbar-inverse .navbar-nav > li.open > a:hover,
.navbar-inverse .navbar-nav > li.open > a:focus {
  background-color: #47abfd;
}

.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus {
  background-color: #15354a;
}
