.navbar {
  background-color: #4747B1 !important;
}

#navbar > ul.navbar-nav.me-auto > li.nav-item.dropdown a:hover {
  background-color: #4747B1 !important;
}

.navbar-dark .navbar-nav .active>.nav-link {
  background-color: #4747B1 !important;
  color: #fff;
}

.navbar-dark input[type="search"] {
  background-color: #fff !important;
  color: #444 !important;
}

.app-preview {
  margin: 1.5em 0.75em;
  padding: 0.25em;
  box-shadow:
    0 3.9px 4.6px rgba(0, 0, 0, 0.08),
    0 12.3px 8.4px rgba(0, 0, 0, 0.056),
    0 18.8px 19.2px rgba(0, 0, 0, 0.037),
    0 22px 40px rgba(0, 0, 0, 0.019);
}
